/*
 * File: proj2HewsHughesSolis.Main.css
 * Names: Phoebe Hughes, Josh Hews, Ana Sofia Solis Canales
 * Class: CS361
 * Project: 2
 * Due Date: September 22, 2016
 */

.note {
  -fx-stroke: black;
  -fx-fill: blue;
  -fx-opacity: 0.7;
}

.tempo-line {
  -fx-stroke: red;
}