/*
 * File: proj2HewsHughesSolis.Main.css
 * Names: Phoebe Hughes, Josh Hews, Ana Sofia Solis Canales
 * Class: CS361
 * Project: 2
 * Due Date: September 22, 2016
 */

#playButton{
    -fx-base: #b6e7c9;
}
#stopButton{
    -fx-base: #ff7f7f;
}

.note {
  -fx-border-color: black;
  -fx-border-width: 5;
  -fx-border-style: solid;
  -fx-opacity: 0.8;
}

.tempo-line {
  -fx-stroke: red;
}