/*
 * File: proj2HewsHughesSolis.Main.css
 * Names: Phoebe Hughes, Josh Hews, Ana Sofia Solis Canales
 * Class: CS361
 * Project: 2
 * Due Date: September 22, 2016
 */

.note {
  -fx-border-color: black;
  -fx-border-width: 1;
  -fx-border-style: solid;
  -fx-opacity: 0.8;
}

.tempo-line {
  -fx-stroke: red;
}